{% extends 'mahasiswa/base.html' %}
  {% block content %}
  


<div class="container">
  <div class="panel panel-default">
    <div align="center" class="panel-heading">Developer</div>
    <div align="center" class="panel-body">
    <p>Muhamad Aldiansyah</p>

    <p><span class="glyphicon glyphicon-envelope"></span><i>: muhamadaldiansyah24@gmail.com</i></p>

    <br/>
    <p><a href="https://github.com/muhammadalldy/fscient">fscient on github</a></p>
    <br/>

	<p><i>Report a problem or send feedback on Chrome</i></p>

    </div>
  </div>
</div>



  {% endblock %}