<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>fscient</h1>
  <p>Kelompok Peneliti Fisika UNJ</p> 
</div>
  
<div class="container">
  <div class="row">
    <div >
      <h3>Profil</h3>

<p> Nama		: {{  nama }} </p>
<p> Angkatan		: {{  angkatan }} </p>
<p> NRM		: {{  noreg }} </p>
<p> Peminatan		: {{  peminatan }} </p>
<!-- 		{% if latest_question_list %}

	    <ul class="list-group">
	    {% for question in latest_question_list %}
	        <li class="list-group-item"><a href="/mahasiswa/{{ question.no_id }}/">{{ question.nama }}</a></li>
	    {% endfor %}
		</ul> 
		{% else %}
			<p>No polls are available.</p>
		{% endif %}
 -->
    </div>
  </div>
</div>

</body>
</html>
