

{% extends 'mahasiswa/base.html' %}
  {% block content %}
  
<div class="container">
  <div class="row">
    <div >
      <h3>Profil</h3>

<p> Nama		: {{  nama }} </p>
<p> Angkatan		: {{  angkatan }} </p>
<p> NRM		: {{  noreg }} </p>
<p> Peminatan		: {{  peminatan }} </p>
<!-- 		{% if latest_question_list %}

	    <ul class="list-group">
	    {% for question in latest_question_list %}
	        <li class="list-group-item"><a href="/mahasiswa/{{ question.no_id }}/">{{ question.nama }}</a></li>
	    {% endfor %}
		</ul> 
		{% else %}
			<p>No polls are available.</p>
		{% endif %}
 -->
    </div>
  </div>
</div>



  {% endblock %}
  