{% extends 'profile/base.html' %}
  {% block content %}
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4">


        <h3>Anggota</h3>
  		{% if latest_question_list %}

  	    <ul class="list-group">
  	    {% for q in latest_question_list %}
  	        <li class="list-group-item"><a href="/profile/{{ q.id }}/">{{ q.user }}</a></li>
  	    {% endfor %}
  		</ul> 
  		{% else %}
  			<p>No polls are available.</p>
  		{% endif %}

      </div>
      <div class="col-sm-4">
        <h3>Riset</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Ebook</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>

  {% endblock %}